<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Ubranie</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>


<div class="container">
	<h3>Magazyn z ubraniami</h3>
	<hr>
	<p class="h4 mb-4" th:text="${filtered} ? 'Znajdź ubranie' : 'Zapisz ubranie'"></p>
	<form action="#" method="post" th:action="@{${url}}"
	      th:object="${item}" th:with="url=${filtered ? '/ubrania/find' : '/ubrania/save'}">
		<input th:field="*{id}" type="hidden"/>
		<input class="form-control mb-4 col-4" placeholder="Nazwa"
		       th:field="*{nazwa}" type="text" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" placeholder="Rodzaj"
		       th:field="*{rodzaj}" type="text" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" min="0" placeholder="Cena"
		       th:field="*{cena}" type="number" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" placeholder="Marka"
		       th:field="*{marka}" type="text" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" placeholder="Płeć"
		       th:field="*{plec}" type="text" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" placeholder="Rozmiar"
		       th:field="*{rozmiar}" type="text" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" placeholder="Kolor"
		       th:field="*{color}" type="text" th:required="${!filtered}">
		<input class="form-control mb-4 col-4" min="0" placeholder="Ilość" th:field="*{ilosc}"
		       th:if="${!filtered}" type="number" th:required="${!filtered}">
		<button class="btn btn-info col-2" th:text="${filtered} ? 'Znajdź' : 'Zapisz'" type="submit"></button>
	</form>
	<hr>
	<a th:href="@{/ubrania/list}">Powrót do strony głównej</a>
</div>

</body>
</html>